# Variables in Python

## Boolean operations and comparisons

In [3]:
1 and True

True

In [4]:
0 or 1

1

In [5]:
not 0

True

In [6]:
not (0 + 1j )

False

In [7]:
not (0 + 0j)

True

In [8]:
5. > 1

True

In [9]:
5. == 5

True

In [10]:
1 > True

False

In [11]:
(1 + 0j) == 1

True

In [12]:
"abc" < "ABC"

False

What about this?

In [13]:
"abc" > 5

TypeError: '>' not supported between instances of 'str' and 'int'

## Basic arithmetic orperations between two variables
The basic arithmetic operators are available in python. These are
1. Addition - (+)
2. Subtraction - (-)
3. Multiplication - (*)
4. Division - (/)
5. Remainder - (%)
6. Exponentiation (power) - (**)

In [14]:
1 + 5

6

In [15]:
1 + 5.

6.0

In [16]:
1 * 5.

5.0

In [17]:
True * 5

5

In [18]:
(1 + 0j) - (1 + 1j)

-1j

In [19]:
5/1

5.0

In [20]:
5//2

2

In [21]:
5%2

1

In [22]:
7**2

49

What if we do this?

In [23]:
"abc" + 5

TypeError: can only concatenate str (not "int") to str

In [24]:
"abc" + str(5)

'abc5'

In [26]:
"abc" ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [27]:
"abc" * 3

'abcabcabc'

## Casting and assignment

In [28]:
float?

In [29]:
dir(float)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [31]:
float.__add__(2.,3.)

5.0

In [32]:
float.__add__?

In [33]:
float(True)

1.0

In [34]:
int(1.1)

1

In [35]:
int("2")

2

In [36]:
bool(0)

False

In [37]:
bool("hello")

True

In [38]:
bool?

In [39]:
str(3.14159)

'3.14159'

In [40]:
str(True)

'True'

In [41]:
int("2.1")

ValueError: invalid literal for int() with base 10: '2.1'

In [42]:
int?

## Variable assignment

In [72]:
x = 100 
x

100

In [73]:
type(x)

int

In [46]:
y = x
y

100

In [49]:
y=1
y

1

In [50]:
a = b = 5

## String literals

In [51]:
'allows embedded "double" quotes'

'allows embedded "double" quotes'

In [52]:
s = 'allows embedded "double" quotes'
s

'allows embedded "double" quotes'

In [53]:
s2 = """line one
2 line two
3 line three"""

In [55]:
s2

'line one\n2 line two\n3 line three'

In [56]:
dir(s2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [58]:
s2.split()

['line', 'one', '2', 'line', 'two', '3', 'line', 'three']

In [59]:
s2.split("\n")

['line one', '2 line two', '3 line three']

In [64]:
x = "Hello world! 1234"

In [65]:
x.find("!")

11

In [66]:
x.title()

'Hello World! 1234'

## List in Python

Python lists are heterogenous, ordered, mutable containers of
objects (they behave very similarly to lists in R or in JavaScript).

In [74]:
l = [0,1,1,0] ## can we assign? Copy and deepcopy
l

[0, 1, 1, 0]

In [75]:
k = l

In [76]:
k

[0, 1, 1, 0]

In [77]:
k[0] = 2

In [78]:
l

[2, 1, 1, 0]

In [70]:
[0, True, "abc"]

[0, True, 'abc']

In [79]:
[0, [1,2], [3,[4]]]

[0, [1, 2], [3, [4]]]

In [80]:
type(l)

list

In [81]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [82]:
l.sort()

In [83]:
l

[0, 1, 1, 2]

In [84]:
y = [0, True, "abc"]
y

[0, True, 'abc']

In [85]:
type(y)

list

In [86]:
y.sort()

TypeError: '<' not supported between instances of 'str' and 'bool'

In [122]:
l.append(45)
l

[0, 1, 1, 2, 45]

In [124]:
l.insert(0,21)
l

[21, 0, 1, 1, 2, 45]

In [128]:
l.pop()

45

In [129]:
l

[21, 0, 1, 1, 2]

In [130]:
l.extend([12,13,14])
l

[21, 0, 1, 1, 2, 12, 13, 14]

## Unpacking lists in Python

In pythonm we can unpack some variables into multiple variables when doing ”assignment”

In [88]:
x1,y1 = [1,2]
x1

1

In [90]:
y1

2

In [91]:
x1, y1 = [1, [2, 3]]

In [92]:
x1

1

In [93]:
y1

[2, 3]

In [94]:
x, *y = [1,2,3] ## what about this x, y = [1,2,3]?

In [96]:
*x, y = [1,2,3]

In [111]:
mylist2 = [0.0,'a',2+4j,2000,'learn python',[1,2,3,4,5,6,7]]
mylist2

[0.0, 'a', (2+4j), 2000, 'learn python', [1, 2, 3, 4, 5, 6, 7]]

In [112]:
[type(elt) for elt in mylist2]

[float, str, complex, int, str, list]

In [119]:
mylist2[1][0]

'a'

In [120]:
mylist2[4][6]

'p'

In [121]:
mylist2[5][3]

4

## Tuples in Python
Python tuples are heterogenous, ordered, immutable (or
non-mutable) containers of values.
They are nearly identical to lists except that their values cannot be
changed.

In [97]:
(1,2,3)

(1, 2, 3)

In [98]:
(1,True, "abc")

(1, True, 'abc')

In [99]:
(1,(2,3))

(1, (2, 3))

In [100]:
x = (1,2,3)

In [101]:
x[2] = 5

TypeError: 'tuple' object does not support item assignment

In [102]:
del x[2]

TypeError: 'tuple' object doesn't support item deletion

## Ranges in Python 
Python also makes it possible to create a numeric sequence as a list using the range function. In
this case, we can create the sequence $a+di, i = 0,..., n$. This is equivalent to $a, a+d, a+2d,...,a+
nd$. This can be done using the range function as range(a,b,d) where $b = a + nd + 1$.

In [103]:
range(10)

range(0, 10)

In [104]:
range(0,10)

range(0, 10)

In [105]:
range?

In [106]:
range(0, 10, 2)

range(0, 10, 2)

In [107]:
range(10, 0, -1)

range(10, 0, -1)

In [108]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [109]:
dir(range)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [113]:
seq = range(0,10)

In [114]:
seq

range(0, 10)

In [116]:
seq[0], seq[4]

(0, 4)

In [117]:
list(seq)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
seq?

## Sets and dictionaries in python

In [153]:
set([1,2,3])

{1, 2, 3}

In [156]:
dict([[1,'a'], [2,"b"]])

{1: 'a', 2: 'b'}

# Control flow, list comprehensions and functions
This is a fairly unique feature of Python - expressions are grouped together via indenting. This is relevant for control flow (if, for, while, etc.) as well as function and class definitions and many other aspects of the language.

Indenting should be 2 or more spaces (4 is the preferred based on PEP 8) or tab characters - generally your IDE will handle this for you.
## Conditionals

Python supports tradition if / else style conditional expressions,

In [131]:

x = 42
if x < 0:
    print("X is negative")
elif x > 0:
    print("X is positive")
else:
    print("X is zero")

X is positive

In [132]:
x = 0
if x < 0:
    print("X is negative")
elif x > 0:
    print("X is positive")
else:
    print("X is zero")

X is zero

In [133]:
if x == 0: print ("X is zero") # If there is only one expression for example

X is zero

## Loops in python: while and for

In [134]:
#Repeat until the given condition evaluates to False,

i = 17
seq = [i]
while i != 1:
    if i % 2 == 0:
        i /= 2
    else:
        i = 3*i + 1
    seq.append(i)
seq

[17, 52, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

Anyone recognize what this is an example of?

In [135]:
for w in ["Hello", "world!"]:
    print(w, len(w))

Hello 5
world! 6

In [137]:
mysum = 0
for v in (1,2,3,4):
    mysum += v
mysum

10

In [139]:
mysum = 0
for v in range(1,5):
    mysum += v
mysum

10

In [143]:
mysum = 0
for v in range(4,0,-1):
    mysum += v
mysum

10

In [144]:
res = []
for c in "abc123def567":
    if (c.isnumeric()):
        res.append(int(c))
res

[1, 2, 3, 5, 6, 7]

## break and continue
Allow early loop exit or step to next iteration respectively

In [145]:
for i in range(10):
    if i == 5:
        break
    print(i, end=" ")

0 1 2 3 4

In [146]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i, end=" ")

1 3 5 7 9

## loops and else?

Both for and while loops can also have else clauses which execute when the loop is terminated by fully iterating (for) or meetings the while condition, i.e. when break does not execute.

In [149]:
# From python tutorial - Section 4.4
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        print(n, 'is a ?? number')

2 is a ?? number
3 is a ?? number
4 equals 2 * 2
5 is a ?? number
6 equals 2 * 3
7 is a ?? number
8 equals 2 * 4
9 equals 3 * 3

## pass instruction in python 

This is a expression that does nothing, it can be used when an expression is needed syntaxtically.

In [150]:
x = -3
if x < 0:
    pass
elif x % 2 == 0:
    print("x is even")
elif x % 2 == 1:
    print("x is odd")

## List comprehensions 
They provides a concise syntax for generating lists

In [157]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [158]:
[x**2 for x in (1,2,3)]

[1, 4, 9]

In [159]:
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [160]:
[x**2 for x in range(10) if x % 2 == 0 if x % 3 ==0]

[0, 36]

In [161]:
[(x, y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [163]:
x = [1,2,3]
y = [3,2,1]

z = zip(x, y)
z

In [164]:
list(z)

[(1, 3), (2, 2), (3, 1)]

In [165]:
zip?

In [166]:
[a**b for a,b in zip(x,y)]

[1, 4, 3]

In [168]:
x = [1,2,3,4]
y = range(3) # y=[0,1,2]
z = "ABCDE"
list(zip(x,y))

[(1, 0), (2, 1), (3, 2)]

In [169]:
list(zip(x,z))

[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

## Exercise

Using list comprehensions, complete the following tasks:

Create a list containing tuples of $x$ and $y$ coordinates of all points of a regular grid for $x \in [0,10]$ and $y \in [0,10]$

- Count the number of points where $y>x$

- Count the number of points $x$ or $y$ is prime.

## Basic functions in python 
Functions are defined using def, arguments can be defined with out without default values.

In [170]:
def f(x, y=2, z=3):
    print(f"x={x}, y={y}, z={z}")

In [172]:
f(2)

x=2, y=2, z=3

In [173]:
f("abc", y=True)

x=abc, y=True, z=3

In [174]:
f()

TypeError: f() missing 1 required positional argument: 'x'

In [182]:
def f(x:int, y=2, z=3) -> int:
    print(f"x={x}, y={y}, z={z}")
    return x

In [183]:
f("abc", y=True)

x=abc, y=True, z=3

'abc'

In [185]:
f?

In [186]:
g = lambda x,y : x**y
sign = lambda x: 1 if x > 0 else -1 if x < 0 else 0